
@import '../../style/helpers.less';
@font-face { font-family: munro; src: url('../../assets/fonts/munro/Munro.ttf'); }

.container {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/backgrounds/pexels-photo-315191.jpeg');
  background-color: #555;
  color: #fff;
  width: 414px;
  height: 736px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-size: 100% 100%;

}

.city {
  flex: 1;
  font-size: 1.7em;
  font-weight: 400;
}

.blur {
  background: url('../../assets/backgrounds/pexels-photo-315191.jpeg');
  background-size: 100% 100%;
  width: inherit;
  height: inherit;
  clip-path: inset(10% 5% 10% 20%);
  position: absolute;
  filter: blur(5px);
}

.girl_container {
  background: url('../../assets/girl/girl.png') no-repeat;
  width: 229px;
  height: 518px;
  bottom:0;
  left: 0;
  background-size: contain;
  position: absolute;
  z-index: 1000;
}

