@import '~style/helpers';

/* the next 3 days boxes */
.test > div:first-child > div {
    width: 33%;
    float: left;
    background: orange;
    padding: 2em;
    height: 5em;
}

.test {
    background: skyblue;
    width: 250px;
    position: absolute;
    right: 10px;
    top: 100px;
}

.today {
    min-height: 300px;
}
